table.dataTable th,
table.dataTable td {
    white-space: nowrap !important;
    padding: 6px 10px !important;
    font-size: 13px !important;
    text-align: center !important;
    vertical-align: middle !important;
}

table.dataTable .btn {
    padding: 4px 10px !important;
    font-size: 13px !important;
}